@import '~styles/config';

.button {
    display: inline-flex;
    position: relative;

    padding: 0 $gutter / 1.5;
    margin-right: $gutter;
    height: 40px;
    font-weight: bold;

    cursor: pointer;

    font-size: $font-size;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    vertical-align: middle;

    background-color: $color-dark-grey;
    color: #fff;

    transition: background-color 180ms ease;

    &:hover {
        background-color: lighten($color-dark-grey, 25%);
    }
}
